.topimg{
  width:200px;
  height: 40px;

}
.icon{
  float: left;
  margin: auto;
  width: 40px;
  height: 40px;
}
.botimg{
width:200px;
height: 40px;
float:right;
margin-right: 50px;
}
form{

  margin:  0 auto;
  width :500px;
  line-height: 20px;
}

.clearfix{
  overflow: auto;
}
h2{
  font-size: 28px;
    line-height: 40px;
    text-align: center;
}
.tool{
  float:right;
  padding-top:10px;

}
body{
  background-color:#442D4B;
  font-family: 'Lato',sans-serif;
  color:white;
}
label{
  text-align: left;
}
li{

  display: inline-block;
}
a:link{
  color: #ffcb59;
}
textarea,select,input{
  background-color: #776688;color: white;
  border:1px solid white;
width: 100%;

}
.samp{
  width: 50%;
  box-sizing: content-box;
}
#Submit{
  background-color: #ffcb59;
  border-width: 0px;
  margin: 0 200px;
  margin-top:50px;
  margin-bottom:50px;
  width:100px;
}
footer{
  position: fixed;
  width:100%;
  bottom:0;
background-color: #000000;
}


nav{

  padding-left:50px;
  padding-top: 10px;
  padding-bottom:10px;
  padding-right: 50px;
}
div.container{
  max-width:600px;
  margin: auto;
  background: #776688;
  border-radius: 20px;
}
section{
    padding: 0 40px;
    padding-bottom: 84px;
    margin-left:2px;
    margin-right:2px;
    margin-bottom:30px;
    background: #976fa3;
}
header{
  background: black;
  margin-top: 3%;
  margin-bottom: 3%;
}
.category{
    margin-bottom: 40px;
}
.categoryName {
    font-size: 1.8rem;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 20px;
}

.movie {
    margin-bottom: 10px;
    width: 20%;
}

.movie .poster {
    width: 180px;
    height: 230px;
    overflow: hidden;
    /* margin: 0 auto; */
    margin-bottom: 15px;
}

.poster img{
    width: 100%;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}
.details {
    width: 180px;
    /* margin: 0 auto; */
}
.details .yearOfRelease {
    margin: 5px 0;
    font-size: 0.8rem;
}

.details .name{
    margin: 5px 0;
    font-weight: 100;
    font-size: 1rem;
    text-transform: uppercase;
}

.stars .star {
    width: 15px;
    height: 15px;
    margin: 0;
    display: inline-block;
    background-position: center;
    background-size: contain;
}

.star-full {
    background-image: url("../images/star-full.png");
}

.star-half {
    background-image: url("../images/star-half.png");
}

.star-empty {
    background-image: url("../images/star-empty.png");
}
